{% load index %}
{% load static %}
<a href="/{{ file.file_path }}"
	target="_blank"
	{% if post.thumb == 'file' or filename|extension == 'webm' %}
		class="file"
	{% endif %}
>
	{% if file.thumb|extension == 'webm' %}
		<video autoplay class="post-image" src="{{ file.thumb_path }}"
			style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px"
		>
		</video>
	{% else %}
		<img class="post-image"
		{% if file.spoiler %}
			src="{% static 'spoiler.png' %}"
			style="width:128px;height:128px" alt=""
		{% else %}
			src="/{{ file.thumb_path }}"
			style="width:{{ file.thumbwidth }}px;height:{{ file.thumbheight }}px" alt=""
		{% endif %}
		/>
	{% endif %}
</a>
