{% load static %}
<!doctype html>
<html lang="uk">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" media="screen" href="{% static config.url_stylesheet %}">
		{% if config.url_favicon %}<link rel="shortcut icon" href="{% static config.url_favicon %}">{% endif %}
		{% if config.meta_keywords %}<meta name="keywords" content="{{ config.meta_keywords }}">{% endif %}
		{% if config.default_stylesheet.1 != '' %}<link rel="stylesheet" type="text/css" id="stylesheet" href="{% static config.uri_stylesheets %}{{ config.default_stylesheet.1 }}">{% endif %}
		{% block header %}{% endblock header %}
	</head>
	<body>
		{% block content %}{% endblock content %}
		{% if not nojavascript %}
			<script>
				{% include 'posts/main.js' %}
			</script>
			{% for javascript in config.additional_javascript %}
				<script src="{% static javascript %}"></script>
			{% endfor %}
		{% endif %}
		{% block script %}{% endblock script %}
	</body>
</html>
