{% load i18n %}
<span class="sub" data-description="0">
	[
	<a href="{% url 'index' %}">{% trans "Кропивач" %}</a>
	]
</span>
<span class="sub" data-description="1">
	[
	{% for board in boards %}
		<a href="{% url 'board' board.uri %}" title="{{ board.title }}">{{ board.uri }}</a> /
	{% endfor %}
	]
</span>
