{% load index %}
{% load static %}
{% load i18n %}

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" media="screen" href="{% static config.url_stylesheet %}">
		{% if config.url_favicon %}<link rel="shortcut icon" href="{% static config.url_favicon %}">{% endif %}
		{% if config.meta_keywords %}<meta name="keywords" content="{{ config.meta_keywords }}">{% endif %}
		{% if config.default_stylesheet.1 != '' %}<link rel="stylesheet" type="text/css" id="stylesheet" href="{% static config.uri_stylesheets %}{{ config.default_stylesheet.1 }}">{% endif %}
		<script type='text/javascript'>
			var active_page = "catalog"
			, board_name = "{{ board.uri }}";
		</script>
		<title>{{ board.uri }} - {% trans 'Catalog' %}</title>
	</head>
	<body class="theme-catalog active-catalog">
		<div class="boardlist">
			{% include 'posts/boardlist.html' %}
		</div>
		<header>
			<h1>{{ config.title }} (<a href="{{link}}">/{{ board.uri }}/</a>)</h1>
			<div class="subtitle">{{ config.subtitle }}</div>
		</header>
		<div class="threads">
			<div id="Grid">
			{% for post in recent_posts %}
				<div class="mix"
					data-reply="{{ post.reply_count }}"
					data-bump="{{ post.bump }}"
					data-time="{{ post.time }}"
					data-id="{{ post.id }}"
					data-sticky="{% if post.sticky %}true{% else %}false{% endif %}"
					data-locked="{% if post.locked %}true{% else %}false{% endif %}"
					style="display: inline-block">
					<div class="thread grid-li grid-size-small">
						<a href="{% url 'thread' board.uri post.id %}">
							{% if post.youtube %}
								<img src="//img.youtube.com/vi/{{ post.youtube }}/0.jpg"
							{% else %}
								<img src="{% url 'media' board.uri 'thumb' post.files|first_file %}"
							{% endif %}
							id="img-{{ post.id }}" data-subject="{% if post.subject %}{{ post.subject }}{% endif %}" data-name="{{ post.name }}" data-muhdifference="{{ post.muhdifference }}" class="{{board.uri}} thread-image" title="{{ post.bump }}">
						</a>
						<div class="replies">
							<strong>R: {{ post.reply_count }} / I: {{ post.image_count }}{% if post.sticky %} (sticky){% endif %}</strong>
							{% if post.subject %}
								<p class="intro">
									<span class="subject">
										{{ post.subject }}
									</span>
								</p>
							{% else %}
								<br />
							{% endif %}
								{{ post.body|safe }}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<hr/>
	<footer>
		<p class="unimportant" style="margin-top:20px;text-align:center;">- Kropyvaba + Vichan's templates
			<br><a href="https://gitlab.com/Kropyva/engine">Kropyvaba</a> Copyright &copy; 2017-2022 Kropyva Team
			<br><a href="https://engine.vichan.net/">vichan</a> Copyright &copy; 2012-2017 vichan-devel</p>
		{% for footer in config.footer %}<p class="unimportant" style="text-align:center;">{{ footer }}</p>{% endfor %}
	</footer>
		{% if not nojavascript %}
			<script type="text/javascript"">
				{% include 'posts/main.js' %}
			</script>
			{% for javascript in config.additional_javascript %}
				<script type="text/javascript" src="{% static javascript %}"></script>
			{% endfor %}
		{% endif %}
		<script type="text/javascript">
			var styles = {
				{% for name, uri in config.stylesheets %}'{{ name }}' : '/stylesheets/{{ uri }}',
				{% endfor %}
			}; onready(init);
		</script>
		<script type="text/javascript">
			ready();
		</script>
	</body>
</html>
