{% extends "posts/base.html" %}

{% load static %}
{% load i18n %}

{% block header %}
	<script type="text/javascript">
		var
			active_page = "board"
			, board_name = "{{ board.uri }}";
	</script>
	<title>/{{ board.uri }} - {{ board.title }}</title>
{% endblock header %}

{% block content %}
	<div class="boardlist">
		{% include 'posts/boardlist.html' %}
	</div>

	<div class="random-banner">
		<a href="{{ random_banner.url }}">
			<img alt="Banner" src="{{ random_banner.img }}">
		</a>
	</div>

	<header>
		<h1>/{{ board.uri }}/ - {{ board.title }}</h1>
		<div class="subtitle">
			{{ board.subtitle }}
		</div>
	</header>
	{% include 'posts/post_form.html' %}
	<form name="postcontrols" action="{{ config.post_url }}" method="post">
		<input type="hidden" name="board" value="{{ board.uri }}" />
		{% for post in threads %}
			{% include 'posts/post_thread.html' %}
		{% endfor %}
		{% include 'posts/report_delete.html' %}
	</form>

	<div class="pages">
		{% if threads.has_previous %}
			<form action="{% url 'board_page' board.uri threads.previous_page_number %}" method="get"><input value="Prev" type="submit"></form>
		{% endif %}
		{% for page in pages.page_range %}
			[<a {% if page == threads.number %}class="selected"{% endif %}{% if page != threads.number %}href="{% url 'board_page' board.uri page %}"{% endif %}>{{ page }}</a>]
		{% endfor %}
		{% if threads.has_next %}
			<form action="{% url 'board_page' board.uri threads.next_page_number %}" method="get"><input value="{% trans 'Next' %}" type="submit"></form>
		{% endif %}
		{% if config.catalog_link %}
			| <a href="{{ config.root }}{{ board.dir }}{{ config.catalog_link }}">{% trans "Catalog" %}</a>
		{% endif %}
	</div>

	<hr>
	<div class="boardlist bottom">
		{% include 'posts/boardlist.html' %}
	</div>

	<footer>
		<p class="unimportant" style="margin-top:20px;text-align:center;">- Kropyvaba + Vichan's templates
			<br><a href="https://gitlab.com/Kropyva/engine">Kropyvaba</a> Copyright &copy; 2017-2022 Kropyva Team
			<br><a href="https://engine.vichan.net/">vichan</a> Copyright &copy; 2012-2017 vichan-devel</p>
		{% for footer in config.footer %}<p class="unimportant" style="text-align:center;">{{ footer }}</p>{% endfor %}
	</footer>
{% endblock content %}

{% block script %}
	<script  src="{% static 'dollchan.js' %}" charset="utf-8"></script>
	<script src="{% static 'multi-image.js' %}" charset="utf-8"></script>
	<script type="text/javascript">
		var styles = {
			{% for name, uri in config.stylesheets %}'{{ name }}' : '{% static uri %}',
			{% endfor %}
		}; onready(init);
	</script>
	<script type="text/javascript">
		ready();
	</script>
{% endblock script %}
