{% extends 'posts/base.html' %}
{% load static %}
{% load index %}

{% block header %}
	<title>{{ config.title }}</title>
	<link rel="stylesheet" media="screen" href="{% static config.recent %}"/>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="boardlist">
        {% for board in boards %}
		<span class="sub">
            <a style="visibility: hidden;" href="{% url 'board' board.uri %}" title="{{ board.title }}"></a>
        </span>
        {% endfor %}
		<span class="top">
			[ <a href="{% url 'index' %}">/Головна/</a> ]
		</span>
		{% load flatpages %}
		{% get_flatpages as flatpages %}
		{% for page in flatpages %}
			<span class="top">
				[ <a href="/about{{ page.url }}" title="{{ page.title }}">/{{ page.title }}/</a> ]
			</span>
		{% endfor %}
		<span class="top">
			[ <a href="{% url 'statistics' %}">/статистика/</a> ]
		</span>
		<span class="top">
			[ <a href="https://twitter.com/kropyvach">/твіттер/</a> ]
		</span>
		<span class="top">
			[ <a href="https://drama.kropyva.ch/">/енциклопедія/</a> ]
		</span>
		<select class='mobile-only' onChange="window.location.href=this.value">
			<option value="">Навігація</option>
			{% for page in flatpages %}
				<option value="/about{{ page.url }}">/{{ page.title }}/</option>
			{% endfor %}
			<option value="/statistics/">/статистика/</option>
			<option value="https://twitter.com/kropyvach">/твіттер/</option>
			<option value="https://drama.kropyva.ch/">/енциклопедія/</option>
		</select>
	</div>
	<header>
		<h1>Кропивач</h1>
		<div class="subtitle">{{ slogan }}</div>
		<div class="box logo">
			{% load index %}
			<img alt="Logo" src="{% static 'randlogo/' %}{% random_logo %}">
		</div>
	</header>
	<div id='main-content'>
		<p>
			<strong><a href="https://drama.kropyva.ch/%D0%9A%D1%80%D0%BE%D0%BF%D0%B8%D0%B2%D0%B0%D1%87">
			Кропивач</a></strong> - український 
			<a href="https://drama.kropyva.ch/%D0%86%D0%BC%D1%96%D0%B4%D0%B6%D0%B1%D0%BE%D1%80%D0%B4">іміджборд</a>
			, де кожен може дописувати чи ділитися контентом без реєстрації.
			Тут є дошки присвячені різним темам, від високої культури до порнографії.
			Не соромся, заходь на ту, що тебе цікавить!
		</p>
		<div class="post reply container">
			<label><strong>Дошки</strong></label>
			<div id='boards-table'>
				{% for board in boards %}
					<strong>
						<a href="{% url 'board' board.uri %}" title="{{ board.title }}">{{ board.title }}
							{% if board.nsfw %}<span class='nsfw'> (18+)</span>{% endif %}</a>
					</strong><br>
				{% endfor %}
			</div>
		</div>
		<div class="post reply container">
			<label><strong>Популярні зараз нитки</strong></label>
			<ul>
				{% for post in last_threads %}
					{% with post.body|clean|safe as post_body %}
						{% if post_body %}
							<li>
								<strong>{{ post.board__title }}</strong>:
								<a href="{% url 'thread' post.board__uri post.id %}">
									{{ post_body }}
								</a>
							</li>
						{% endif %}
					{% endwith %}
				{% endfor %}
			</ul>
		</div>
		<div class="post reply container">
			<label><strong>Останні пости</strong></label>
			<ul>
				{% for post in recent_posts %}
					{% with post.body|clean|safe as post_body %}
						{% if post_body|length > 2 %}
							<li>
								<strong>{{ post.board__title }}</strong>:
								<a href="{% if post.thread %}{% url 'thread' post.board__uri post.thread %}#{{post.id}}{% else %}{% url 'thread' post.board__uri post.id %}{% endif %}">{{ post_body }}</a>
							</li>
						{% endif %}
					{% endwith %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<hr/>
	<footer>
		<label>Кропивач 2016-2022</label>
		<br>
	</footer>
{% endblock content %}

{% block script %}
	<script>
		var styles = {
			{% for name, uri in config.stylesheets %}'{{ name }}' : '{% static uri %}',
			{% endfor %}
		}; onready(init);
	</script>
	<script>
		ready();
	</script>
{% endblock script %}
