{% extends 'posts/base.html' %}

{% load index %}
{% load i18n %}
{% load static %}

{% block header %}
		<meta property="og:site_name" content="Кропивач" />
		<meta property="og:description" content="{{ threads.0.body_nomarkup|truncate }}" />
		<meta property="og:title" content="{% if threads.0.subject %}{{ threads.0.subject }} | {% endif %}{{ board.title}} | Кропивач" />
		<meta property="og:type" content="article" />
		<meta name="description" content="{{ threads.0.body_nomarkup|truncate }}" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@kropyvach" />
		<meta name="twitter:title" content="{% if threads.0.subject %}{{ threads.0.subject }} | {% endif %}{{ board.title}} | Кропивач" />
		<meta name="twitter:description" content="{{ threads.0.body_nomarkup|truncate }}" />
		{% for file in threads.0.files|to_dict|slice:':1' %}
			<meta name="twitter:image" content="https://kropyva.ch/{{ file.thumb_path }}" />
			<meta name="og:image" content="https://kropyva.ch/{{ file.thumb_path }}" />
		{% endfor %}
		<script type="text/javascript">
			var active_page = "thread";
		</script>
		<title>{{ threads.0.body_nomarkup|truncate }} | {% trans 'Кропивач' %}</title>

{% endblock header %}

{% block content %}
		<div class="boardlist">
			{% include 'posts/boardlist.html' %}
		</div>
		<a name="top"></a>

		<div class="random-banner">
			<a href="{{ random_banner.url }}">
				<img alt="Banner" src="{{ random_banner.img }}">
			</a>
		</div>

		<header>
			<h1>/{{ board.url }}/ - {{ board.title }}</h1>
			<div class="subtitle">
				{{ board.subtitle }}
			</div>
		</header>
		{% include 'posts/post_form.html' %}
		<form name="postcontrols" action="{{ config.post_url }}" method="post">
			{% csrf_token %}
			<input type="hidden" name="board" value="{{ board.uri }}" />
			{% if mod %}<input type="hidden" name="mod" value="1" />{% endif %}
			{% for post in threads %}
				{% include 'posts/post_thread.html' %}
			{% endfor %}
			<hr />
			<div id="thread-interactions">
				<span id="thread-links">
					<a id="thread-return" href="{% url 'board' board.url %}">[{% trans "Return" %}]</a>
					<a id="thread-top" href="#top">[{% trans "Go to top" %}]</a>
					{% if config.catalog_link %}
						<a id="thread-catalog" href="{% url 'catalog' board.url %}">[{% trans "Catalog" %}]</a>
					{% endif %}
				</span>
				<span id="thread-quick-reply">
					<a id="link-quick-reply" href="#">[{% trans "Post a Reply" %}]</a>
				</span>
				{% include 'posts/report_delete.html' %}
			</div>
		</form>
		<hr>
		<div class="boardlist bottom">
			{% include 'posts/boardlist.html' %}
		</div>
	<footer>
		<p class="unimportant" style="margin-top:20px;text-align:center;">- Kropyvaba + Vichan's templates
			<br><a href="https://gitlab.com/Kropyva/engine">Kropyvaba</a> Copyright &copy; 2017-2022 Kropyva Team
			<br><a href="https://engine.vichan.net/">vichan</a> Copyright &copy; 2012-2017 vichan-devel</p>
		{% for footer in config.footer %}<p class="unimportant" style="text-align:center;">{{ footer }}</p>{% endfor %}
	</footer>
{% endblock content %}

{% block script %}
	<script src="{% static 'dollchan.js' %}" charset="utf-8"></script>
	<script src="{% static 'report.js' %}" charset="utf-8"></script>
	<script src="{% static 'multi-image.js' %}" charset="utf-8"></script>
	<script type="text/javascript">
		var styles = {
			{% for name, uri in config.stylesheets %}'{{ name }}' : '{% static uri %}',
			{% endfor %}
		}; onready(init);
	</script>
	<script type="text/javascript">
		ready();
	</script>
{% endblock script %}
