{% extends 'posts/base.html' %}

{% load static %}

{% block header %}
	<link rel="stylesheet" media="screen" href="{% static config.recent %}"/>
	<title>Статистика</title>
{% endblock header %}

{% block content %}
	<div class="boardlist">
		<span class="top">
			[ <a href="{% url 'index' %}">/Головна/</a> ]
		</span>
		{% load flatpages %}
		{% get_flatpages as flatpages %}
		{% for page in flatpages %}
			<span class="top">
				[ <a href="{{ page.url }}" title="{{ page.title }}">/{{ page.title }}/</a> ]
			</span>
		{% endfor %}
		<span class="top">
			[ <a href="{% url 'statistics' %}">/статистика/</a> ]
		</span>
		<span class="top">
			[ <a href="https://twitter.com/kropyvach">/твіттер/</a> ]
		</span>
		<span class="top">
			[ <a href="https://drama.kropyva.ch/">/енциклопедія/</a> ]
		</span>
		<select class='mobile-only' onChange="window.location.href=this.value">
			<option value="">Навігація</option>
			{% for page in flatpages %}
				<option value="/about{{ page.url }}">/{{ page.title }}/</option>
			{% endfor %}
			<option value="/statistics/">/статистика/</option>
			<option value="https://twitter.com/kropyvach">/твіттер/</option>
			<option value="https://drama.kropyva.ch/">/енциклопедія/</option>
		</select>
	</div>
	<header>
		<h1>Статистика</h1>
	</header>
	<div id='main-content'>
		<div id="plotly-div" class="post reply container"></div>
		<div class="post reply container">
			<label><strong>Статистика</label></strong>
			<ul id='stats-table'>
				<li>Усього повідомлень: {{ stats.total_posts }}</li>
				<li>Повідомлень за добу: {{ stats.posts_per24 }}</li>
				<li>Доступно ниток: {{ stats.total_threads }}</li>
				<li>Ниток за добу: {{ stats.threads_per24 }}</li>
				<li>Дописувачів: {{ stats.posters }}</li>
				<li>Дописувачів за добу: {{ stats.posters_per24 }}</li>
			</ul>
		</div>
	</div>
{% endblock content %}

{% block script %}
	<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script charset="utf-8">
		{% for board in stats.data %}
			trace_{{ board.0 }} = {
				x: ['ISO tim'{% for k, v in board.1.items %}, '{{k}}'{% endfor %}],
				y: [{% for k,v in board.1.items %}{% if forloop.first %}{{ v }}{% else %}, {{ v }}{% endif %}{% endfor %}],
				name: '/{{ board.0 }}',
				type: 'bar',
			};
		{% endfor %}
		data = [{% for board in stats.data %}trace_{{board.0}}, {% endfor %}];
		layout = {
			autosize: true,
			bargap: 0.2,
			bargroupgap: 0,
			barmode: 'stack',
			boxgap: 0.3,
			boxgroupgap: 0.3,
			boxmode: 'overlay',
			dragmode: 'zoom',
			height: 457,
			hidesources: false,
			hovermode: 'closest',
			legend: {
				x: 1.02,
				y: 1,
				bgcolor: '#fff',
				bordercolor: '#444',
				borderwidth: 0,
				traceorder: 'reversed',
				xanchor: 'left',
				yanchor: 'top'
			},
			margin: {
				r: 80,
				t: 100,
				autoexpand: true,
				b: 80,
				l: 80,
				pad: 0
			},
			paper_bgcolor: '#fff',
			plot_bgcolor: '#fff',
			separators: '.,',
			showlegend: true,
			smith: false,
			title: 'Статистика дописування за останні 90 днів',
			xaxis: {
				anchor: 'y',
				autorange: true,
				autotick: true,
				domain: [0, 1],
				dtick: 'M6',
				gridcolor: '#eee',
				gridwidth: 1,
				linecolor: '#444',
				linewidth: 1,
				nticks: 0,
				overlaying: false,
				position: 0,
				rangemode: 'normal',
				showgrid: true,
				showline: false,
				showticklabels: true,
				tickangle: 'auto',
				tickcolor: '#444',
				ticklen: 5,
				ticks: '',
				tickwidth: 1,
				title: 'Дата',
				type: 'date',
				zeroline: true,
				zerolinecolor: '#444',
				zerolinewidth: 1
			},
			yaxis: {
				anchor: 'x',
				autorange: true,
				autotick: true,
				domain: [0, 1],
				dtick: 200,
				gridcolor: '#eee',
				gridwidth: 1,
				linecolor: '#444',
				linewidth: 1,
				mirror: false,
				nticks: 0,
				overlaying: false,
				position: 0,
				rangemode: 'normal',
				showticklabels: true,
				tick0: 0,
				tickangle: 'auto',
				tickcolor: '#444',
				ticklen: 5,
				ticks: '',
				tickwidth: 1,
				title: 'Дописів',
				type: 'linear',
				zeroline: true,
				zerolinecolor: '#444',
				zerolinewidth: 1
			}
		};
		Plotly.react('plotly-div', {
			data: data,
			layout: layout
		});
	</script>
{% endblock script %}
